<button onclick={{action toggleProperty 'showControl'}}>
  {{#if showControl}}
    Hide Draw Control
  {{else}}
    Show Draw Control
  {{/if}}
</button>

<button onclick={{action toggleProperty 'showMap'}}>
  {{#if showMap}}
    Hide Map
  {{else}}
    Show Map
  {{/if}}
</button>

{{#if showMap}}
  {{#mapbox-gl as |map|}}
    {{#if showControl}}
      {{map.control (draw-control) 'top-left'}}
    {{/if}}
  {{/mapbox-gl}}
{{/if}}
