<button type='button' {{on 'click' (fn this.toggleProperty 'showControl')}}>
  {{#if this.showControl}}
    Hide Draw Control
  {{else}}
    Show Draw Control
  {{/if}}
</button>

<button type='button' {{on 'click' (fn this.toggleProperty 'showMap')}}>
  {{#if this.showMap}}
    Hide Map
  {{else}}
    Show Map
  {{/if}}
</button>

{{#if this.showMap}}
  <MapboxGl as |Map|>
    {{#if this.showControl}}
      {{Map.control (draw-control) 'top-left'}}
    {{/if}}
  </MapboxGl>
{{/if}}